<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.neweramay2021_project2">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NeweraMay2021_project2">
        <activity android:name=".StudentsListview.StudentListviewActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="SimpleRecycleviewJSON.Recycleview_JSON_Activity"></activity>
        <activity android:name="Tutorial04.ContactListviewActivity" />
        <activity android:name="SimpleRecyclerview.SimpleRecyclerview" />
        <activity android:name="SimpleListView.SimpleListviewActivity" />
        <activity android:name=".CoffeOrderActivity" />
        <activity android:name=".infoActivity" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>